html, body {
	color: white;
	overflow: hidden;
	background: white;
    margin: 0px 0px;
    padding: 0px;

}

img.number {
	border: 0px;
}

#feeds  {
	
position: absolute;
display:none;	
}
.number_r {	
  -webkit-transform: rotate(180deg); 
  -moz-transform: rotate(180deg);
  rotation: 180deg;
}